.header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height:8rem;
    border: 2px solid black;
    border-radius: 9px;
}

.logo{
    width: 10rem;
}
.nav-items{
    font-size: 17px;
}
.nav-items>ul{
  display:flex;
  flex-wrap: wrap;
  padding: 0px 20px
 
}

.nav-items>ul>li{
    padding:2em;
    list-style-type: none;
}


.body{
    padding:10px;
    margin: 10px;
}

.filter{
    display: flex;
}

.search{
    margin: 0px 30px;
}

.filter-btn{
    cursor: pointer;
    background-color: palegoldenrod;
    border:2px transparent;
    border-radius: 4px;
}

.filter-btn:hover{
    border:2px solid black;
    background-color: white;
    color: black;
}


.res-container{
    display: flex;
    flex-wrap: wrap;
    padding:5px 5px
}
.res-card{
    width: 18rem;
    margin:5px;
    border:1px solid transparent;
    border-radius: 6px;
    background-color: rgb(236, 240, 228);
}

.res-card:hover{
    border:2px solid black;
    border-radius: 6px;
}

.res-name{
   text-align: left;
}

.res-logo{
    width:100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border:2px transparent;
    border-radius: 4px;
}
.name-star{
    display:flex;
    justify-content: space-between;
    padding: 0px 4px;
    margin-bottom: 2px;
}

.res-cuisine{
    padding:0px 4px;
  
}

.res-area{
    padding: 0px 4px;
}

.res-cost{
    color:blue;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    width: 200px;
    height: 300px;
    margin:20px;
    border:1px solid transparent;
    border-radius: 6px;
    background-color: rgb(247, 248, 244);
}

.btn-login{
    margin: 10px;
    padding:0px 10px;
    cursor: pointer;
    background-color: palegoldenrod;
    border:2px transparent;
    border-radius: 4px;
}

.user-card{
    padding: 2px;
    margin: 2px;
    border: 2px solid black;
}


